<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.example.demo.mapper.AccountLockMapper">
	<update id="increaseLoginFailCount" parameterType="int">
    UPDATE public.account_lock
    SET
        fail_count = fail_count + 1,
        active = CASE
            WHEN fail_count + 1 >= 5 THEN false
            ELSE active
        END
    WHERE number = #{number}
    AND active = true
</update>
    
    <select id="findById" parameterType="int" resultType="boolean">
        SELECT 
        	active
        FROM 
        	public.account_lock
        WHERE 
        	number = #{number}
    </select>

	<update id="recordSuccess" parameterType="int">
    	UPDATE 
    		public.account_lock
    	SET
        	fail_Count  = 0,
        	active = true
    	WHERE 
    		number = #{number}
    </update>






</mapper>


